.section {
  background-color: $black-color;
  position: relative;
  color: $white-color;
  border-radius: 32px;
  padding: 54px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 54px;
  height: 100%;


  .button{
  @include breakpoint(mobile) {
    height: 48px;
    width:168px;
      z-index: 3;
    }
  }



  @include breakpoint(mobile) {
    padding: 32px 20px 160px 20px;
  }

  .title {
    max-width: 580px;
    margin-bottom: 32px;
    z-index:3;
  }

  .img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    max-width: 558px;

    @include breakpoint(mobile) {
      display: none;
    }
  }

  .img_mob {
    display: none;
  z-index: 2;
    @include breakpoint(mobile) {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      z-index: 2;
    }
  }
}
