.container {
  background-image: url("@/assets/images/section-lets-connect/img-1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 80px;

  @include breakpoint(tablet) {
    padding-top: 160px;
    background-image: url("@/assets/images/section-lets-connect/img-1-mobile.webp");
  }

  @include breakpoint(mobile) {
    padding-top: 120px;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 988px;
    .title {
      margin: 0 auto;
      margin-bottom: 32px;
      color: $black-color;

      @include breakpoint(mobile) {
        text-align: center;
      }
    }

    .inputs {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      margin-bottom: 16px;

      @include breakpoint(mobile) {
        flex-direction: column;
        gap: 16px;
      }
    }

    .textarea {
      margin-bottom: 32px;
    }

    .description {
      margin-bottom: 12px;
      font-size: 12px;
      color: $gray-color;
      max-width: 694px;

      &:last-child {
        margin-bottom: 32px;
      }
    }

    .button {
      padding: 18px 32px;
      font-size: 16px;
    }
  }
}
input::placeholder,
textarea::placeholder {
  font-family: "Agrandir", sans-serif;
  font-size: 13.5px;
  color: #999; /* или любой другой цвет, который вы используете */
  opacity: 1; /* Для Firefox */
}

/* Для лучшей кроссбраузерности */
::-webkit-input-placeholder {
  font-family: "Agrandir", sans-serif;
  font-size: 13.5px;
}
::-moz-placeholder {
  font-family: "Agrandir", sans-serif;
  font-size: 13.5px;
  opacity: 1;
}
:-ms-input-placeholder {
  font-family: "Agrandir", sans-serif;
  font-size: 13.5px;
}