.container {
	width: 100%;
	min-height: 85dvh;


.faqs {
			display: flex;
			flex-direction: column;
			gap: 12px;

		}


	@media (max-width: 1024px) {


		.faqs {
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
	}
}
