.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  max-width: 550px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;

  .icon {
    width: 110px;
    height: 110px;
    margin-bottom: 32px;
  }
}
