$orange-color: #ef9d29;
$orange-light-color: #fff7ed;
$green-color: #20ca61;
$blue-color: #e9f3fd;
$gray-color: #7c7b85;
$bg-color-gray: #eeeeee;
$bg-color-gray-2: #f8f8f8;
$black-color: #000000;
$white-color: #ffffff;
$arrow-color: #cececf;
$border-color: #eeeeee;
$hover-color: #f0f0f0;
$gray-color-2: #2f2f2f;
$gray-color-3: #7e8183;
