.container {
  background-image: url("@/assets/images/section-login/img-3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  padding-top: 200px;
  padding-bottom: 64px;

  @include breakpoint(tablet) {
    padding-top: 160px;
  }

  @include breakpoint(mobile) {
    padding-top: 120px;
  }

  .section {
    max-height: 480px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 32px;
    overflow: hidden;
    padding-left: 40px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);

    @include breakpoint(mobile) {
      flex-direction: column;
      min-height: 615px;
      padding-left: 0;
      gap: 32px;
    }

    .form {
      flex: 1;

      @include breakpoint(mobile) {
        padding-top: 32px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .title {
        font-size: 44px;
        font-weight: 800;
        font-family: "Agrandir-Grand", sans-serif;
        margin-bottom: 50px;

        @include breakpoint(mobile) {
          margin-bottom: 24px;
        }
      }

      .inputs {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 50px;

        @include breakpoint(mobile) {
          margin-bottom: 24px;
        }

        input {
          max-width: 100%;
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        @include breakpoint(mobile) {
          flex-direction: column;
        }

        .button {
          padding: 18px 32px;
          font-size: 16px;

          @include breakpoint(mobile) {
            width: 100%;
            justify-content: center;
          }
        }

        .button__forgot {
          font-size: 14px;
          color: $gray-color;
        }
      }
    }

    .img {
      flex: 1;

      height: 100%;
      width: 100%;
      object-fit: cover;

      @include breakpoint(mobile) {
        border-bottom-left-radius: 24px;
        overflow: hidden;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:first-child {
          @include breakpoint(mobile) {
            display: none;
          }
        }

        &:last-child {
          display: none;

          @include breakpoint(mobile) {
            display: block;
            object-position: 0 -20px;
          }
        }
      }
    }
  }
}
