.section {
  background: url("@/assets/images/section-we-empower/img-1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .section__inner {
    max-width: 1332px;
    margin: 0 auto;
    padding: 74px 40px;
    width: calc(100% - 96px);

    @include breakpoint(tablet) {
      width: calc(100% - 48px);
      padding: 64px 0;
    }

    @include breakpoint(mobile) {
      width: calc(100% - 24px);
    }

    .title {
      margin-bottom: 54px;
      text-align: center;

      @include breakpoint(tablet) {
        margin-bottom: 32px;
      }
    }

    .cards {
      display: flex;
      gap: 20px;

      @include breakpoint(tablet) {
        flex-direction: column;
        gap: 24px;
      }

      .card {
        background-color: $white-color;
        border-radius: 8px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .card__title {
          background-color: $blue-color;
          color: $black-color;
          border-radius: 100px;
          padding: 10px 14px;
          width: fit-content;
          font-family: "Inter", sans-serif;
          font-weight: 600;
        }

        .card__description {
          font-size: 14px;
          color: $gray-color;
        }
      }
    }
  }
}
