
.row {
  cursor: pointer;
  
  .cell {
    border-top: 1px solid $border-color;
    padding: 20px;
    vertical-align: middle;

    &.widerCell {
      width: 20%; 
    }
    

    &:not(.widerCell):not(.statusCell) {
      width: 14.28%; 
    }
    
    &.statusCell {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      color: $green-color;
      
      .statusText {
        flex: 1;
      }
      
      .button {
        cursor: pointer;
        transition: 0.3s all ease;
        background: none;
        border: none;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        svg {
          stroke: $arrow-color;
          transition: all 0.3s ease;
        }
        
        &.active {
          transform: rotate(180deg);
        }
        
        &:hover {
          svg {
            stroke: $black-color;
          }
        }
      }
    }
  }
}

.row__details {
  width: 100%;
  
  .cell {
    padding: 10px 20px;
    border-top: 1px solid $border-color;
    
    .title {
      display: block;
      margin-bottom: 4px;
      font-size: 12px;
      color: $gray-color;
      font-weight: 400;
    }
    
    .name {
      font-size: 12px;
      color: $black-color;
      font-weight: 500;
    }
  }
}