.section {
  background-image: url("@/assets/images/section-banking/img-2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .section__inner {
    max-width: 1252px;
    margin: 0 auto;
    padding: 200px 0 50px 0;
    color: $black-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 96px);

    @include breakpoint(tablet) {
      width: calc(100% - 48px);
    }

    @include breakpoint(mobile) {
      width: calc(100% - 24px);
      flex-direction: column;
      gap: 60px;
    }

    .info {
      max-width: 409px;

      .title {
        margin-bottom: 20px;

        @include breakpoint(mobile) {
          margin-bottom: 24px;
        }
      }

      .description {
        margin-bottom: 46px;

        @include breakpoint(mobile) {
          margin-bottom: 24px;
        }
      }

      .button {
        padding: 18px 32px;
        font-size: 16px;
      }
    }

    .img {
      max-width: 602px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.video {
	   max-width: 672px;
      height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
  
	
	.videoElement {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  border-radius: 8px;
  
  // Скрываем элементы управления на iOS
  &::-webkit-media-controls {
    display: none !important;
  }
  
  &::-webkit-media-controls-start-playback-button {
    display: none !important;
  }
  
  &::-webkit-media-controls-enclosure {
    display: none !important;
  }
  
  // Для скрытия нативного плеера
  &::cue {
    display: none;
  }
}
}