.container {
  width: 100%;
  padding-top: 200px;
  padding-bottom: 50px;



  .text {
	color: #666;
	line-height: 1.4;
	margin: 0;
	text-align: center;
	font-size:16px;
	width:600px;
      @include breakpoint(mobile) {
      width: 100%;
      }
}

  @include breakpoint(tablet) {
    padding-top: 160px;
  }

  @include breakpoint(mobile) {
    padding-top: 120px;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin: 0 auto;
      margin-bottom: 32px;
      color: $black-color;

      @include breakpoint(mobile) {
        text-align: center;
      }
    }

    .inputs {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      margin-bottom: 16px;

      @include breakpoint(mobile) {
        flex-direction: column;
        gap: 16px;
      }
    }

    .textarea {
      margin-bottom: 32px;
    }

    .description {
      margin-bottom: 12px;
      font-size: 12px;
      color: $gray-color;
      max-width: 694px;

      &:last-child {
        margin-bottom: 32px;
      }
    }

    .button {
      padding: 18px 32px;
      font-size: 16px;
    }
  }
}


