.section {
  background-image: url("@/assets/images/section-otc/img-3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 200px 0 120px 0;

  @include breakpoint(tablet) {
    background-image: url("@/assets/images/section-otc/img-3-mobile.webp");
    padding: 120px 0 80px 0;
  }

  .section__inner {
    max-width: 1252px;
    margin: 0 auto;
    color: $black-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 96px);

    @include breakpoint(tablet) {
      width: calc(100% - 48px);
    }

    @include breakpoint(mobile) {
      width: calc(100% - 24px);
      flex-direction: column-reverse;
      gap: 64px;
    }

    .info {
      max-width: 409px;

      @include breakpoint(tablet) {
        max-width: 100%;
      }

      .title {
        margin-bottom: 20px;
      }

      .description {
        margin-bottom: 46px;

        @include breakpoint(mobile) {
          margin-bottom: 40px;
        }
      }

      .button {
        padding: 18px 32px;
        font-size: 16px;
      }
    }

    .img {
      max-width: 672px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
