.card {
	border-radius: 12px;
	background-color: $bg-color-gray-2;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 256px;
	cursor: pointer;
	transition:
		transform 0.2s,
		box-shadow 0.2s;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	}

	.info {
		display: flex;
		gap: 16px;
		align-items: center;
		text-wrap: nowrap;

		.text {
			display: flex;
			flex-direction: column;

			.title {
				font-size: 14px;
				font-weight: 400;
			}

			.price {
				font-size: 12px;
				color: $gray-color;
			}
		}
	}

	.convert {
		display: flex;
		flex-direction: column;
		text-wrap: nowrap;

		.rate {
			font-family: 'Agrandir-Grand', sans-serif;
			font-weight: 900;
			font-size: 20px;
		}

		.price {
			font-size: 12px;
			color: $gray-color;
		}
	}
}
