@font-face {
  font-family: "Agrandir";
  src: url("/fonts/Agrandir-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Agrandir";
  src: url("/fonts/Text-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Agrandir";
  src: url("/fonts/Agrandir-Thin-Italic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Agrandir-Grand";
  src: url("/fonts/GrandLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Agrandir-Grand";
  src: url("/fonts/Grand-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Agrandir";
  src: url("/fonts/Grand-Heavy.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Agrandir-Wide";
  src: url("/fonts/WideLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Agrandir-Wide";
  src: url("/fonts/Wide-Black-Italic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Agrandir-Narrow";
  src: url("/fonts/Agrandir-Narrow.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Agrandir-Tight";
  src: url("/fonts/Agrandir-Tight.woff2") format("woff2");
  font-display: swap;
}
