.container {
  width: 100%;

  .currency {
    display: flex;
    align-items: stretch;
    gap: 16px;
    margin-bottom: 40px;

    @include breakpoint(mobile) {
      flex-direction: column;
    }
  }

  .button {
    margin: 0 auto;
  }
}
