.container {
  width: 100%;

  .currency {
    gap: 16px;
    margin-bottom: 40px;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    // Выравнивание по центру
    justify-items: center; // Центрирует элементы по горизонтали внутри ячеек
    align-items: center; // Центрирует элементы по вертикали
  }
}