.section {
  margin: 0 auto;
  width: calc(100% - 96px);

  @include breakpoint(tablet) {
    width: calc(100% - 48px);
  }

  @include breakpoint(mobile) {
    width: calc(100% - 24px);
  }

  .title {
    font-size: 44px;
    font-weight: 400;
    text-align: center;
    padding-top: 32px;

    .title__color {
      color: $green-color;
    }

    @include breakpoint(tablet) {
      font-size: 32px;
    }
  }

  .img {
    display: flex;
    justify-content: center;
    padding: 180px 0;
    position: relative;
    z-index: 10;

    @include breakpoint(tablet) {
      padding: 80px 0;
    }

    .img__chips {
      position: absolute;
      // width: 100%;
      // height: 100%;
      object-fit: cover;
      z-index: -1;
      top: 0;

      @include breakpoint(tablet) {
        display: none;
      }
    }

    @include breakpoint(tablet) {
      max-width: 100%;
    }

    picture {
      img {
        width: 100%;
        height: 100%;
        max-width: 950px;
        margin: 0 auto;
      }
    }
  }
}
