.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  @media (max-width: 768px) {
	padding:4px;
	}
}

.exchangeCard{
  width:480px;
  @media (max-width: 768px) {
		max-width:480px;
    width:100%;
	}
}

.mainExchange {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 24px;


  @media (max-width: 768px) {
    flex-direction: column;
    gap: 20px;
  }
}




.mobileButton{
  display: none !important;
   @media (max-width: 768px) {
    display:flex !important;
    position:relative;
    left:50%;
    transform: translateX(-50%);
    width:100% !important;
    margin-top: 16px;
  }
}


.currencyBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 8px;
  min-width: 0;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.currencyHeader {
  display: flex;
  align-items: center;
  justify-content: center;;
  gap: 8px;
}

.currencyIcon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.currencyLabel {
  font-family: "Agrandir-Grand", sans-serif;
  font-weight: 800;
  font-size: 28px;
  color: #000000;
  margin-top:7px;
}

.currencyId {
  font-family: monospace;
  font-size: 14px;
  color: $gray-color;
  word-break: break-all;
  margin-top: -4px; // небольшая корректировка

  @media (max-width: 768px) {
    padding-left: 40px;
    font-size: 11px;
  }
}

.currencyAmount {
  font-family: "Agrandir", sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  gap: 8px;
  &:hover{
    cursor: pointer;
  }


  white-space: nowrap;
  width:234px;
  height: 56px;
  padding: 12px 0; 

}

.buttons{
  display:flex;
  justify-content: space-between;
     @media (max-width: 768px) {
    display:none;
  }
}

.amountNegative{
  background-color: rgba(253, 113, 113, 0.1);
}
.amountPositive{
  background-color: rgba(179, 253, 113, 0.1);
}

.arrowWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-top: 12px; // выравнивание по верхнему блоку

  @media (max-width: 768px) {
    transform: rotate(90deg);
    margin: 0;
  }
}

.detailsSection {
  padding: 16px;
  background-color: #F9F9F9;
  border-radius: 16px;
  margin: 32px 0;

  @media (max-width: 768px) {
    padding: 12px;
  }
}

.detailsHeader {
  margin-bottom: 12px;

  span {
    font-size: 18px;
    font-weight: 700;
    color: #000000;

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.detailsGrid {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.detailLabel {
  font-size: 14px;
  color: $gray-color;
  white-space: nowrap;
  margin-right: 16px;

}

.detailValue {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  text-align: right;
  word-break: break-all;

}

.button {
  left:50%;
  font-weight: 800;
  padding:15px 20px;
  transform: translateX(-50%);
  position: relative;
}