.section {
  background-image: url("@/assets/images/section-multi-cards/img-1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include breakpoint(tablet) {
    background-image: url("@/assets/images/section-multi-cards/img-mobile.webp");
  }

  .section__inner {
    max-width: 1252px;
    margin: 0 auto;
    padding: 82px 0;
    color: $black-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 96px);

    @include breakpoint(tablet) {
      width: calc(100% - 48px);
    }

    @include breakpoint(mobile) {
      width: calc(100% - 24px);
      flex-direction: column-reverse;
      gap: 64px;
    }

    .info {
      max-width: 409px;

      @include breakpoint(tablet) {
        max-width: 100%;
      }

      .title {
        margin-bottom: 20px;
      }

      .description {
        margin-bottom: 46px;

        @include breakpoint(mobile) {
          margin-bottom: 40px;
        }
      }

      .button {
        padding: 18px 32px;
        font-size: 16px;
      }
    }

    .img {
      max-width: 672px;
      height: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.video {
	   max-width: 672px;
      height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
  
	
	.videoElement {
		width: 100%;
		height: auto;
		max-width: 100%;
		object-fit: cover;
		border-radius: 8px; // если нужны скругленные углы, как у изображения
	}

     &::-webkit-media-controls {
      display: none !important;
    }
    
    &::-webkit-media-controls-start-playback-button {
      display: none !important;
    }
    
    &::-webkit-media-controls-enclosure {
      display: none !important;
    }
    
    // Для скрытия нативного плеера
    &::cue {
      display: none;
    }
    
    // Для Firefox и других браузеров
    &::-moz-media-controls {
      display: none !important;
    }
}