.container {
  background-image: url("@/assets/images/section-faq/bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100dvh;
  padding-top: 200px;
  padding-bottom: 50px;

  .section {
    max-height: 520px;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    border-radius: 32px;
    overflow: hidden;
    padding-left: 40px;

    .form {
      flex: 1;
      .title {
        font-size: 44px;
        font-weight: 800;
        font-family: "Agrandir-Grand", sans-serif;
        margin-bottom: 50px;
      }

      .inputs {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 50px;

        input {
          max-width: 100%;
        }
      }

      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12px;

        .button {
          padding: 18px 32px;
          font-size: 16px;
        }

        .button__forgot {
          font-size: 14px;
          color: $gray-color;
        }
      }
    }

    .img {
      flex: 1;
      height: 100%;
      width: 100%;
      object-fit: cover;

      img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
  }
}
