.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
	padding: 24px;
	max-width: 1200px;
	margin: 0 auto;

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
		gap: 16px;
		padding:0px;
	justify-items: center; // Центрирует карточки по горизонтали в grid ячейках
		align-items: center;
	}
}

.card {
	background-color: #F9F9F9;
	border: 1px solid #E0E0E0;
	border-radius: 16px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	transition: 0.3s all ease;
	text-align: center;
	max-width:340px;
	max-height:340px;

	&:hover {
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
	}

	@media (max-width: 768px) {
		padding: 20px;
		width:100%;
	}
}

.icon {
	width:72px;
	height:72px;
	left:50%;
	transform: translateX(-50%);
	position:relative;
	margin-bottom: 24px;
}

.title {
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 8px 0;
	font-family: 'Agrandir', sans-serif;

	@media (max-width: 768px) {
		font-size: 18px;
	}
}

.description {
	font-size: 14px;
	color: #666;
	margin: 0 0 16px 0;
	line-height: 1.5;
	min-height: 60px;
	width:220px;
	left:50%;
	transform: translateX(-50%);
	position: relative;
	text-align: center;
	@media (max-width: 768px) {
		font-size: 13px;
		min-height: auto;
		margin-bottom: 12px;
	}
}

.contactInfo {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-top: auto;
}

.label {
	font-size: 14px;
	color: #999;
}

.value {
	font-size: 16px;
	color: #000;
	word-break: break-word;

	@media (max-width: 768px) {
		font-size: 14px;
	}
}

.buttonIcon {
	rotate: 45deg;
	fill: white; /* Для SVG */
	/* или */
	color: white; /* Только если иконка использует currentColor */
}
.supportButton{
	
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
    background-color: $black-color;
  border-radius: 50px;
  color: $white-color;
  cursor: pointer;
  width:152px;
  left:50%;
  transform: translateX(-50%);
  position: relative;
  font-family: "Agrandir", sans-serif;

}
.buttonText{
		font-weight: 400;
		  font-family: "Agrandir", sans-serif;
}